body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.container {
    text-align: center;
}

/* Input reddit id css */ 
.reddit-id-input {
    display: flex;
    align-items: center;
    justify-content: center;
}

.textbox-input {
    width: 70%;
    max-width: 400px;
    padding: 10px;
    font-size: 16px;
    margin-right: 10px;
}

.submit-button {
    padding: 10px 20px;
    font-size: 16px;
}

/* Output results css  */
.textbox-container {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.textbox_output {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    resize: none;
    width: 70vw; 
    height: 50vh;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.button-container button {
    flex: 1;
    padding: 10px;
    font-size: 16px;
}

.button-space {
    width: 10px; 
}