#main {
  width:100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

body {
  background-color:pink;
  font-family: 'Alata', sans-serif;
}

header {
  background-color:white;
  color:pink;
}

a:link, a:visited {
  text-decoration: none;
  background-color: black;
  color: white;
}

a:hover, a:active {
  text-decoration: none;
  background-color: white;
  color: black;
}

footer {
  color: white;
}
